[bumpversion]
current_version = 1.0.2
commit = True
tag = True

[bumpversion:file:pyproject.toml]
search = version = "{current_version}"
replace = version = "{new_version}"

[bumpversion:file:README.md]
search = https://img.shields.io/badge/version-{current_version}-gray
replace = https://img.shields.io/badge/version-{new_version}-gray

[metadata]
description_file = README.md
